.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Moving-back {
    animation: Moving-back-path;
    position: absolute;
    height: 100%;
    width: 200%;
    z-index: -1;
    background-size: auto 180%;
    background-repeat: no-repeat;
    -webkit-animation-name: Moving-back-path;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes Moving-back-path {
    from {left: -200px;}
    to {left: 200px;}
}
